
.comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    padding-bottom: 0%;
    width: 80vw;
    .boton{
        padding: 30px;
    }   
    .input-group{
        padding: 10px;
    }
}

.productos{
    padding: 100px;
}

.detalleProductos{
    padding: 100px;
}

.cantidad{
    width: 100px;
    padding: 20px;
}

.input-group-text{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    justify-self: center;
}

.btn{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    background-color: lightpink;
    color: black;
}

.accordion-item{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
}

.accordion-button{
    font-size: xx-large;
}

#mensajeIngresoError{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    color: red;
}


#mensajeIngreso{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    color: red;
}


#mensaje{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
}

.imagenFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#contenedor-productos{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px;
    margin-bottom: 30px;
}

.seleccion{
    font-family: 'Nanum Brush Script', cursive;
    font-size: x-large;
    color: black;
    display: grid;
    justify-items: center;
    padding-top: 20px;
}

.carrito{
    display: grid;
    justify-items: center;
    padding-bottom: 20px;
}

.card{
    font-family: 'Cookie', cursive;
    font-size: x-large;
}

.card-title{
        font-family: 'Cookie', cursive;
        font-size: xx-large;
        font-weight: bold;
}

