
.comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    width: 50vw;
    .boton{
        padding: 30px;
    }   
    .input-group{
        padding: 10px;
    }
}

.productos{
    padding: 100px;
}

.detalleProductos{
    padding: 100px;
}

.cantidad{
    width: 100px;
}