
.comprar{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    width: 50vw;
    .boton{
        padding: 30px;
    }   
    .input-group{
        padding: 10px;
    }
}

.productos{
    padding: 100px;
}

.detalleProductos{
    padding: 100px;
}

.cantidad{
    width: 100px;
    padding: 20px;
}

.input-group-text{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    justify-self: center;
}

.btn{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    background-color: lightpink;
    color: black;
}

.accordion-item{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
}

.accordion-button{
    font-size: xx-large;
}

#mensajeIngresoError{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    color: red;
}


#mensajeIngreso{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    color: red;
}


#mensaje{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
}

