
ul{
    list-style-type: none;
}

.footerFlex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 5rem;
    font-family: 'Cookie', cursive;
    //position: fixed;
}