
.navbar-brand{
    font-family: 'Cookie', cursive;
    font-size: xx-large;
    padding: 40px;
}

.nav-item{
    font-family: 'Cookie', cursive;
    font-size: x-large;
}

.dropdown-menu{
    font-size: x-large;
}