
.registrarUsuario{
    display: grid;
    justify-items: center;
    padding: 50px;
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    .col-12{
        display: grid;
        justify-items: center;
    }
}

.form-control{
    font-size: xx-large;
    font-family: 'Nanum Brush Script', cursive;
}

.form-select{
    font-size: xx-large;
    font-family: 'Nanum Brush Script', cursive;
}
    
