* {
    margin: 0;
    padding: 0;
}

@import './header';
@import './footer';
@import './comprar1';
@import './opcion2';
@import './novedades';


.galeriaFotos{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5px;
}

.container{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    justify-self: center;
    .titulo {
        display: grid;
        justify-items: center;
        font-size: 110px;
    }
}

img:hover{
    transform: scale(1.2);
}

.main{
    display: grid;
    justify-items: center;
    padding-top: 80px;
}

.titulo {
    display: grid;
    justify-items: center;
    font-size: 60px;
    font-family: 'Nanum Brush Script', cursive;
}

.col-md-4{
    width: fit-content;
}

// .contenedor-form .formulario:nth-child(1){
//     display: block;
// }

// .botones{
//     display: grid;
//     justify-items: center;
// }

.botones{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    .btn{
        margin: 0 auto;
    }
}

.registrarUsuario{
    position: absolute;
}

.comprar{
    position: absolute;
}

.fetch{
    font-family: 'Nanum Brush Script', cursive;
    font-size: xx-large;
    display: grid;
    place-items: center;
}




@media only screen and (min-width: 360px) and (max-width: 1100px){

.container{
    justify-items: center;
    .titulo{
        font-size: larger;
        justify-items: center;
    }

}

.navbar-brand{
    display: none;
}

.comprar{
    width: fit-content;
    padding: auto;
}

.detalleProductos{
    padding: 5px;
}

.productos{
    padding: 5px;
}


}

